<!DOCTYPE html>
{%extends 'reporting/base.html'%}
{%block body_block%}
<div class="container m-5">
     <div class="row m-5 p-2">
        <div class="col-4"></div>
        <div class="col-4 text-center">
            <h4 class="fw-bold" style="color:#5d5d5d;"> USER MANAGEMENT</h4>
        </div>
        <div class="col-4"></div>
    </div>


    <div class="row">
        <div class="col-4 col col-lg-3"></div>
        <div class="col-4 col col-lg-3">
            <form action="" method="post">
                {%csrf_token%}
                {{form.as_p}}
                <button type="submit" class="btn btn-danger">ADD USER</button>
            </form>

        </div>
        <div class="col-4 col col-lg-3">
              <table class="table ms-5">
                <tr>
                    <td>username</td>
                    <td>role</td>
                    <td>action</td>
                </tr>
                {%for user in users%}
                <tr>
                    <td>
                        {{user.email}}
                    </td>
                    <td>
                        {{user.role}}
                    </td>
                    <td><a href="{%url 'edituser' user.id %}" class="btn btn-success">updateuser</a></td>
                </tr>
                {%endfor%}
            </table>
        </div>
                <div class="col-4  col col-lg-3"></div>

    </div>
</div>
{%endblock%}